<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title><%-blocks.page_title%></title>
    <link rel="stylesheet" href="https://wp.m.163.com/163/f2e/news/caishang/css/index.min.css?v=1540136367663">
    <!-- <link rel="stylesheet" href="<%-blocks.page_css%>"> -->
</head>
<body>
    <%- body -%>
    <script type="text/javascript" src="/scripts/assets/zepto.js"></script>
    <script type="text/javascript" src="/scripts/assets/hilo-standalone.js"></script>
    <script type="text/javascript" src="<%-blocks.page_js%>"></script>
</body>
</html>