<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'rich') -%>
<% block('page_css', '/styles/pages/halloween.css') -%>
<% block('page_js', '/scripts/pages/halloween.js') -%>

<div class="common-container">
   <div id="loading_img"></div>
   <div class="dialog_wrap">
      <div id="dialog_cont"></div>
   </div>
   <div id="myCanvas"></div>
   <div class="bigImgBox">
      <img id="bigImg" width="750"/>
      <div class="closeBigImg"></div>
   </div>
</div>