<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'rich') -%>
<% block('page_css', '/styles/pages/rich.css') -%>
<% block('page_js', '/scripts/pages/rich.js') -%>

<div class="common-container">
   <div id="loading_img"></div>
   <div class="dialog_wrap">
      <div id="dialog_cont"></div>
   </div>
   <div id="myCanvas"></div>
</div>